.Movies{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #076565;

}





.button{

    position: relative;
    background-color: rgb(144, 175, 252);
    left: 33.5vw;
    border: none;
    width: 10vw;
    height: 5vh;
    margin: 50px;
    top: -10vh;
    color: snow;
    cursor: pointer;
}



.positionp{

    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
   top: -3vh;
    left: 49vw;



}


.display{
    display: flex;

}

.GeneresInfo{
    cursor: pointer;
}

